.home_page_photo {
    
    width: 200px;
    height: 150px !important;
}

/*
.left {
    
    position: absolute !important;
    margin : 30 30 20 10 !important;
}
*/

/***** Hom Page Paginaton  ********/

